*{margin: 0;padding: 0;}
ul li{list-style-type: none;}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    padding: 2vh 0;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
}
.header .back{
    display: block;
    width: 6vh;
    height: 6vh;
    background: url(../images/home/goods/back.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}
#btm{
    background-color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
}
#btm button{
    display: block;
    margin: 0 auto 4vh;
    color: #fff;
    width: 90%;
    border: none;
    border-radius: 1vh;
    padding: 1vh 0;
    background-color: red;
}
#place ul{
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    padding: 1vh;
}
#place ul li:first-child{
    width: 90%;
}
#place ul li:first-child p{ line-height: 3vh;}
#place ul li:first-child p:first-child span{
   margin-right: 2vh;
   font-size: 2vh;
}
#place ul li:first-child p:nth-child(2){font-size: 1.5vh;}
#place ul li:first-child p:nth-child(2) span:first-child{
    color: orange;
 }
#place ul li:nth-child(2){
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#place ul li:nth-child(2) i{
    display: block;
    width: 2.5vh;
    height: 2.5vh;
    background: url(../images/common/right_arrow.png) no-repeat;
    background-size: 100% 100%;
}