*{margin: 0;padding: 0;}
ul li{list-style-type: none;}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3vh;
    padding: 2vh 0;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
}
.header .back{
    display: block;
    width: 6vh;
    height: 6vh;
    background: url(../images/home/goods/back.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}
#myshow{
    padding: 2vh;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
    box-sizing: border-box;
}
#myshow ul{
    width: 45%;
    margin: 1vh 0;
}
#myshow ul li img{
    width: 100%;
    height: 25vh;
}
#myshow ul li p{
    width: 100%;
    height: 5vh;
    font-size: 2vh;
    overflow: hidden;
}
#myshow ul li:nth-child(2){
    color: #ff0000;
    font-size: 2vh;
    margin: 1vh 0;
}
#myshow ul li:nth-child(3){
    display: flex;
    justify-content: space-between;
}
#myshow ul li:nth-child(3) span{
    display: block;
    color: #dd0000;
    border: 1px solid #dd0000;
    border-radius: 1vh;
    padding: .5vh 1vh;
}
/* 遮罩层 */
#del{
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
}
#del .tip{
    width: 90%;
    font-size: 2.5vh;
    margin: 35vh auto;
}
#del .tip p:first-child{
    background-color: #fff;
    width: 100%;
    height: 12vh;
    line-height: 12vh;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
}
#del .tip p:nth-child(2){display: flex;justify-content: space-between;}
#del .tip p:nth-child(2) span{
    background-color: #fff;
    height: 6vh;
    line-height: 6vh;
    display: inline-block;
    width: 50%;
    text-align: center;
}
#del .tip p:nth-child(2) span:first-child{
    border-bottom-left-radius: 2vh;
}
#del .tip p:nth-child(2) span:last-child{
    color: #1989fa;
    border-bottom-right-radius: 2vh;
}
