*{margin: 0;padding: 0;}
ul li{list-style-type: none;}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3vh;
    padding: 2vh 0;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
}
.header .back{
    display: block;
    width: 6vh;
    height: 6vh;
    background: url(../images/home/goods/back.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}
#myshow{
    padding: 2vh;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
    box-sizing: border-box;
}
#myshow ul{
    width: 45%;
    margin: 1vh 0;
}
#myshow ul li img{
    width: 100%;
    height: 25vh;
}
#myshow ul li p{
    width: 100%;
    height: 5vh;
    font-size: 2vh;
    overflow: hidden;
}
#myshow ul li:nth-child(2){
    color: #ff0000;
    font-size: 2vh;
    margin: 1vh 0;
}
#myshow ul li:nth-child(3){
    display: flex;
    justify-content: space-between;
}
#myshow ul li:nth-child(3) span{
    display: block;
    color: #dd0000;
    border: 1px solid #dd0000;
    border-radius: 1vh;
    padding: .5vh 1vh;
}

.tip{
    width: 14vh;
    font-size: 2.5vh;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    display: none;
    text-align: center;
    border-radius: 1vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

