*{margin: 0;padding: 0;}
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3vh;
    padding: 2vh 0;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
}
.header .back{
    display: block;
    width: 6vh;
    height: 6vh;
    background: url(../images/home/goods/back.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}
#password{
    width: 95%;
    margin: 2vh auto 0;
    border: 1px solid #ccc;
    border-radius: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#password input{
    outline: none;
    border: none;
    height: 6vh;
    width: 70%;
    margin-left: 2vh;
}
#password p{
    display: block;
    margin-right: 2vh;
    width: 8vh;
    height: 4vh;
    border: 1px solid #ccc;
    border-radius: 2vh;
}
#password p span{
    display: block;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    box-shadow: 0 .5vh 1vh #a8a8a8;
    background-color: #fff;
}
button{
display: block;
width: 95%;
background-color: red;
border: none;
border-radius: 1vh;
color: #fff;
margin: 2vh auto;
padding: 1.5vh 0;
font-size: 2.5vh;
}